numpy==1.26.4
pandas==2.2.2
pypdf==5.0.1

sentence-transformers==3.0.1
chromadb==0.5.5

torch==2.4.1
transformers==4.45.2
accelerate==0.34.2

scikit-learn==1.5.2
tqdm==4.66.5

streamlit==1.39.0
python-dotenv==1.0.1
requests==2.32.3
chardet==5.2.0
